

  

     
  div{
        width: 100px;
        height: 100px;
        background: red;
    }  #box1 {
        background: blue;
    }

    #box2 {
        background: yellow;
    }
    #box3 {
        background: purple;
    }
    .class-box {
        background: aqua;
    }
    
    #box1 {
        background: #000;
    }